@import "bootstrap-icons/font/bootstrap-icons.css";

body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../../public/IMG/background.jpg);
    background-position: center;   
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 252, 232, 0.493);  
    pointer-events: none;
    z-index: -1;
}

/* body > * {
    position: relative;
    z-index: 1;
} */

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    border-radius: 0.5em;
    box-shadow: 0 0 5px #5fa1f7;
}

.navbar-nav .nav-link {
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    border-bottom: 2px solid #007bff;
    padding-bottom: 2px; 
    transition: color 0.3s ease;
}

hr {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, transparent, #007bff, transparent);
    margin: 40px 0;
    opacity: 1;
}

h1 {
    font-weight: bold;
}

.footer {
    background-color: #f8f9fa;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

.container {
    background-color: #f8f9fa;
    border-radius: 1em;
    text-align: center;
}

.container-title {
    max-width: 900px;
}

.card {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-body {
    transition: background-color 0.3s ease;
}

.card:hover .card-body {
    background-color: rgba(0, 123, 255, 0.1);
    border: solid 1px #1374f2;
    border-radius: 0.5em;
    box-shadow: inset 0 0 10px #1374f2;
}

.card-footer {
    transition: transform 0.3s ease;
}

.card:hover .card-footer {
    transform: scale(1.1);
}

.card-criar-conta:hover .card-body {
    background-color: rgba(40, 167, 69, 0.1);
    border: solid 1px #1f8c59;
    border-radius: 0.5em;
    box-shadow: inset 0 0 10px #1f8c59;
}

.hover-effect {
    position: relative;
    overflow: hidden;
}

.hover-effect:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    border: solid 1px #1374f2;
    border-radius: 0.5em;
    box-shadow: inset 0 0 12px rgb(211, 230, 255);    
}

.card-esqueceu-senha:hover .card-body {
    background-color: rgba(220, 53, 69, 0.1);
    border: solid 1px #dc3545;
    border-radius: 0.5em;
    box-shadow: inset 0 0 10px #dc3545;
}

.card-ajuda:hover .card-body {
    background-color: rgba(255, 193, 7, 0.1);
    border: solid 1px #ffc107;
    border-radius: 0.5em;
    box-shadow: inset 0 0 10px #ffc107;
}

#typing-effect {
    display: inline-block;
    border-right: 2px solid #000;
    animation: blink-caret 0.7s steps(2) infinite;
}

@keyframes blink-caret {
    from {
        border-color: transparent;
    }
    to {
        border-color: black;
    }
}

.social-link {
    text-decoration: none;
    color: #1374f2;
}

.social-link:hover {
    text-decoration: none;
}

.social-link i {
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-link:hover i {
    transform: scale(1.1);
    color: #007bff;
}

.img-svg {    
    border-radius: 1em;
    max-width: 25em;
    box-shadow: 0 0 10px #5fa1f7;
}

.img-logo {
    max-width: 50em;
}